.footer {
    background-color: var(--color_transparent);
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    gap: 20%;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contatos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contatos div {
    display: flex;
    align-content: center;
}

.contatos div img {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 10px;
        padding: 30px 20%;
    }

    .contatos {
        gap: 5px;
    }
    
}