.navbar {
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color);
    padding: 6px 34px 6px 20px;
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: 9px solid white;
    position: fixed;
    top: 0;
    width: calc(100% - 10px);
    z-index: 99999;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    height: 35px;
    font-weight: 400;
    font-size: 1.6rem;
}

.logo h1 a {
    color: #202020;
    text-decoration: none;
}

.logo img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav ul li {
    font-weight: 400;
    text-decoration: none;
}

.nav ul li a {
    color: #202020;
    font-size: 1.1rem;
}

.roxo a {
    font-weight: 500;
}